
<%= form_with(model:[@post, @post.comments.build], remote: true) do |form| %>

  <% if current_user %>
    <%= form.hidden_field :name , class:'form-control', value:current_user.name %>
  <% end %>


  <% if current_user %>
    <%= form.hidden_field :user_id, value: current_user.id%>
  <% end %>


  <div class="form-group">
    <%= form.hidden_field :comment %>
    <%= form.text_area :comment , class:'form-control', :rows => 5 %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit' ,class: 'btn btn-darkgreen-formal'%>
  </div>

<% end %>
