<% provide(:title, "Log in") %>

<div class="form-signin" id='profile'>

  <div class="field"><h1 align="center" style="color: rgb(73, 72, 72);">LOG IN</h1></div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "profile" }) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <i class="fa fa-at"></i><%= f.email_field :email, autofocus: true, autocomplete: "email" , class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" , class:'form-control'%>
    </div>


    <div class="row-padding">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end %>
    </div>

    <div class="row-padding">
      <div class="actions">
        <%= f.submit "LET ME IN", class: "btn btn-darkgreen" %>
      </div>
    </div>

  <% end %>
  <br>
  <div class="row-padding">
    <%= render "users/shared/links" %>
  </div>

</div>


