<br>
<section class="my deals">
  <div class="container login form-body">
    <%# title & button%>
    <div class="row">
      <div class="col-9 my-auto">
        <h1 class='formal-head login'>MY DEALS HISTORY </h1>
      </div>

      <div class="col-3 my-auto", align="right">
        <%= link_to "Back", my_account_path , class: "btn btn-darkgreen-formal" %>
      </div>
    </div>
    <%# my total deals %>
    <div class="row">
      <div class="col-9 my-auto">
        <p class="comment-title login"><%= @deals.length %> deals </p><br>
      </div>
    </div>

    <table class="table table-hover">
      <%# table head %>
      <thead class="userhead">
          <tr>
          <th scope="col">DATE COLLECTED</th>
          <th scope="col">CREATOR</th>
          <th scope="col">COLLECTOR</th>
          <th scope="col">WRITE A REVIEW</th>
          <th scope="col">POST</th>
          </tr>
      </thead>
      <%# table body %>
      <% @deals.each do |deal| %>
      <tbody>
        <tr>

          <td class='td'><%= deal.created_at.to_s(:db) %></td>

          <td class='td'><%= link_to deal.creator.name.capitalize(), reviews_path(:id => deal.creator.id), class: "link-darkgreen-formal" %></td>
          
          <td class='td'><%= link_to deal.collector.name.capitalize(), reviews_path(:id => deal.collector.id), class: "link-darkgreen-formal" %></td>

          <td class='td'>
            <%# if deal.collector_rating %>
            <% if (current_user.id == deal.collector_id && deal.collector_rating) || (current_user.id == deal.creator_id && deal.creator_rating)%>
              Reviewed
            <% else %>
              <%= link_to 'Write A Review', add_reviews_path(deal.id) , :class => ' link-darkgreen-formal' %>
            <% end %>
          </td>

          <td class='td'>
            <%= link_to 'View Post', post_path(deal.post_id), :class => 'link-darkgreen-formal' %>
          </td>

        </tr>
      </tbody>
      <% end %>

    </table>
    
  </div>
</section>