<h1>Make A Deal</h1>
<%# <p>Find me in app/views/deals/show.html.erb</p> %>
<section class="post">
  <div class="container">

    <div class="row">
      <div class="col-3"><p><strong>Creator_name:</strong></p></div>
      <div class="col-9"><p><%= @creator.name %></p></div>
    </div>

    <div class="row">
      <div class="col-3"><p><strong>Collector_name:</strong></p></div>
      <div class="col-9"><p><%= @collector.name %></p></div>
    </div>

    <div class="row">
      <div class="col-3"><p><strong>Post_id:</strong></p></div>
      <div class="col-9"><p><%= @deal.post_id %></p></div>
    </div>

    <div class="row">
      <div class="col-3"><p><strong>creator_rating:</strong></p></div>
      <div class="col-9"><p><%= @deal.creator_rating %></p></div>
    </div>

    <div class="row">
      <div class="col-3"><p><strong>collector_rating:</strong></p></div>
      <div class="col-9"><p><%= @deal.collector_rating %></p></div>
    </div>

  </div>
</section>