<section class="section">
<div class="container" >
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# <%= form.label :user_id %> 
    <%# <%= form.text_field :user_id %> 
  </div>

  <div class="field">
    <div class="row">
      <div class="col-3">
        <%= form.label :service_type %>
      </div>
      <div class="col-9">
        <%= form.text_field :service_type %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-3">
        <%= form.label :spot_name %>
      </div>
      <div class="col-9">  
        <%= form.text_field :spot_name %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-3">
        <%= form.label :address %>
      </div>
      <div class="col-9">  
        <%= form.text_field :address %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-3">
        <%= form.label :fee %>
      </div>
      <div class="col-9">  
        <%= form.number_field :fee %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-3">
        <%= form.label :start_time %>
      </div>
      <div class="col-4">  
        <%= form.text_field :start_time, data: { behavior: "flatpickr" } %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-3">
        <%= form.label :end_time %>
      </div>
      <div class="col-4">  
        <%= form.text_field :end_time, data: { behavior: "flatpickr" } %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-3">
        <%= form.label :description %>
      </div>
      <div class="col-9">
        <%#= form.text_area :description %>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-3">
        <%= form.label :contact_name %>
      </div>
      <div class="col-9">
        <%= form.text_field :contact_name %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-3">
        <%= form.label :contactno %>
      </div>
      <div class="col-9">
        <%= form.text_field :contactno %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-3">
        <%= form.label :contact_email %>
      </div>
      <div class="col-9">
        <%= form.text_field :contact_email %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-3">
        <%= form.label :constraint %>
      </div>
      <div class="col-9">
        <%= form.number_field :constraint %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</section>
