<p id="notice"><%= notice %></p>
<section class="section">
  <div class="container">

    <h1>Posts</h1>

    <div style="float: right">
      <%= form_tag("/search", :method => "post") do %>
      <%#= label_tag("Search:") %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search") %>
      <% end %>
    </div>

    <div>
      <% if user_signed_in? %>
        <a href="/posts/new">Create My Posts </a>
        <%#= link_to 'Create My Post', new_post_path %>
      <% else %>
        <a href="/user/sign_in">Create My Posts</a>
        <%#= link_to 'Create My Post', new_user_session_path%>
      <% end %>
    </div>
    <br>
    <%#---- tabs -----%>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">ALL</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">REQUESTS</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">PROVIDES</a>
      </div>
    </nav>
    
    <div class="tab-content" id="nav-tabContent">
      <%#---- display all posts -----%>
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <br>
        <% @posts.each do |post| %>

          <div class="card" >
            <div class="card-body">
              <h5 class="card-title"><%= link_to post.service_type, post %></h5>
              <p class="card-text"><%= post.spot_name %></p>
              <h6 class="card-subtitle mb-2 text-muted">Bonus: €<%= post.fee %></h6>
              <p class="card-text"><%= post.description %></p>
              <footer class="blockquote-footer">User Id: <cite title="Source Title"><%= post.user_id %></cite></footer>
              <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: 'Are you certain you want to delete this?'} %>
            </div>
          </div>
          <br>
        <% end %>

        <%= paginate @posts %>
        <br>
        <br>

      </div>
      
      <%#---- display all requests -----%>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <br>
        <% @requests.each do |request| %>

          <div class="card" >
            <div class="card-body">
              <h5 class="card-title"><%= link_to request.service_type, request %></h5>
              <p class="card-text"><%= request.spot_name %></p>
              <h6 class="card-subtitle mb-2 text-muted">Bonus: €<%= request.fee %></h6>
              <p class="card-text"><%= request.description %></p>
              <footer class="blockquote-footer">User Id: <cite title="Source Title"><%= request.user_id %></cite></footer>
              <%= link_to "Delete", post_path(request), method: :delete, data: { confirm: 'Are you certain you want to delete this?'} %>
            </div>
          </div>
          <br>
        <% end %>

        <%= paginate @requests %>
        <br>
        <br>

      </div>

      <%#---- display all provides -----%>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <br>
        <% @provides.each do |provide| %>

          <div class="card" >
            <div class="card-body">
              <h5 class="card-title"><%= link_to provide.service_type, provide %></h5>
              <p class="card-text"><%= provide.spot_name %></p>
              <h6 class="card-subtitle mb-2 text-muted">Bonus: €<%= provide.fee %></h6>
              <p class="card-text"><%= provide.description %></p>
              <footer class="blockquote-footer">User Id: <cite title="Source Title"><%= provide.user_id %></cite></footer>
              <%= link_to "Delete", post_path(provide), method: :delete, data: { confirm: 'Are you certain you want to delete this?'} %>
            </div>
          </div>
          <br>
        <% end %>

        <%= paginate @provides %>
        <br>
        <br>

      </div>

    </div>





  </div>
</section>