<br>
<section class="section">
  <div class="container">
    
    <div class="row">
      <div class="col-3", vertical-align='middle'>
        <h1>MY POSTS</h1>
      </div>

      <div class="col-9", align="right", vertical-align='middle'>
        <%= link_to "Back", my_account_path , class: "btn btn-outline-dark" %>
      </div>
    </div>

    <div class="row">
      <div class="col-3", vertical-align='middle'>
        <h5><strong>WAITING | <%= @waiting_posts.length %> posts </strong></h5><br>
      </div>
    </div>
    <hr>

    <% @waiting_posts.each do |post| %>

      <div class="card" >
        <div class="card-body">
          <h5 class="card-title"><%= link_to post.service_type, post %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Bonus: €<%= post.fee %></h6>
          <p class="card-text"><%= post.description %></p>
          <footer class="blockquote-footer">Post Id: <cite title="Source Title"><%= post.id %></cite></footer>
          <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: 'Are you certain you want to delete this?'} %>
        </div>
      </div>
      <br>

    <% end %>
    <%= will_paginate @waiting_posts %>

    <div class="row">
      <div class="col-3", vertical-align='middle'>
        <h5><strong>DEALT | <%= @dealt_posts.length %> posts </strong></h5><br>
      </div>
    </div>
    <hr>

    <% @dealt_posts.each do |post| %>

      <div class="card" >
        <div class="card-body">
          <h5 class="card-title"><%= link_to post.service_type, post %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Bonus: €<%= post.fee %></h6>
          <p class="card-text"><%= post.description %></p>
          <footer class="blockquote-footer">Post Id: <cite title="Source Title"><%= post.id %></cite></footer>
          <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: 'Are you certain you want to delete this?'} %>
        </div>
      </div>
      <br>

    <% end %>
    <%= will_paginate @dealt_posts %>

  </div>

</section>