
<p id="notice"><%= notice %></p>

<p>
  <%# if current_user.superadmin_role? %>
  <strong>User:</strong>
  <%= @post.user_id %>
  <%# end %>
</p>

<section class="post">
  <div class="container">
    <div class="row">
      <div class="col-9"><p><strong>Action</strong></p></div>
      <div class="col-3"><p>
      <%= link_to 'Collect', deals_create_path(:id => @post.id),
                  method: :preview, class: "btn is-danger", data: { confirm: 'Are you sure?' } %>
      <%#= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
      </p></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3"><p><strong>Service type:</strong></p></div>
      <div class="col-9"><p><%= @post.service_type %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Address:</strong></p></div>
      <div class="col-9"><p><%= @post.address %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Fee:</strong></p></div>
      <div class="col-9"><p><%= @post.fee %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Start time:</strong></p></div>
      <div class="col-9"><p><%= @post.start_time %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>End time:</strong></p></div>
      <div class="col-9"><p><%= @post.end_time %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Description:</strong></p></div>
      <div class="col-9"><p><%= @post.description %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Contact name:</strong></p></div>
      <div class="col-9"><p><%= @post.contact_name %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Contactno:</strong></p></div>
      <div class="col-9"><p><%= @post.contactno %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Contact email:</strong></p></div>
      <div class="col-9"><p><%= @post.contact_email %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Constraint:</strong></p></div>
      <div class="col-9"><p><%= @post.constraint %></p></div>
    </div>
  </div>
</section>

<br>
<section class="comments">
  <div class="container">
    <p class="text-info"><%= @post.comments.count %> Comments</p>
    <hr>

    <%= render @post.comments %>
    
    <div>
      <hr>
      <p class="text-info">Leave My Comment</p>
      <br>
      <%= render 'comments/form' %>
    </div>

  </div>
</section>


