<br>
<p id="notice"><%= notice %></p>

<% if flash[:alert] %>
  <div class="alert alert-info">
    <%= flash[:alert] %>
</div>
<% end %>

<section class="post">
  <div class="container login form-body">
    <%# title %>
    <div class="row">
      <%# post type % status %>
      <div class="col-7 my-auto">
        <h1 class='formal-head login'>
          <%= @post.service_type.upcase %>
          <span class="bar">|</span>
          <% if !@post.is_collected %>
          WAITING
          <% else %>
          DEALT
          <% end %>
        </h1>
      </div>
      <%# collect/review or/and back button %>
      <div class="col-5 my-auto", align="right">
        <% if !@post.is_collected %> <%# condition: the post is waiting to be collected %>
          <%= link_to 'Collect', deals_create_path(:id => @post.id), method: :preview, class: "btn btn-darkgreen-formal", data: { confirm: 'Are you sure?' } %> |
        <% else %> <%# condition: the post was collected / dealt %>
          <% deal = @post.deal %>
          <%# if current user hasn't reviewed this deal %>
          <% if !current_user %>
          <% elsif (deal.creator_id == current_user.id && deal.creator_rating == false) || (deal.collector_id == current_user.id && deal.collector_rating == false) %>
          <%= link_to 'Review', add_reviews_path(deal.id) , :class => 'btn btn-darkgreen-formal' %> |
          <% end %>
        <% end %>
        
        <%= link_to "Back", :back , class: "btn btn-darkgreen-formal" %>
      </div>
    </div>

    <%# created by user on create_at time %>
    <div class="row">
      <div class="col-12">
        by <%= link_to @post.user.name.capitalize(), reviews_path(:id => @post.user.id), class: "link-darkgreen-formal" %>
        on <%= @post.created_at.to_s(:db) %>
      </div>
    </div>
    <br>

    <%# post content body %>
    <div class='block-padding-lg green-border'>
      <div class="row">
        <div class="col-3">Spot Name:</div>
        <div class="col-9"><%= @post.spot_name %></div>
      </div>
      <div class="row row-padding-md">
        <div class="col-3">Spot Address:</div>
        <div class="col-9"><%= @post.address %></div>
      </div>
      <div class="row row-padding-md">
        <div class="col-3">Bonus:</div>
        <div class="col-9">€ <%= @post.fee %></div>
      </div>
      <div class="row row-padding-md">
        <div class="col-3">Start time:</div>
        <div class="col-9"><%= @post.start_time.to_s(:db) %></div>
      </div>
      <div class="row row-padding-md">
        <div class="col-3">End time:</div>
        <div class="col-9"><%= @post.end_time.to_s(:db) %></div>
      </div>
      <div class="row row-padding-md">
        <div class="col-3">Description:</div>
        <div class="col-9"><%= @post.description %></div>
      </div>
      <div class="row row-padding-md">
        <div class="col-3">Contact name:</div>
        <div class="col-9"><%= @post.contact_name.capitalize() %></div>
      </div>
      <div class="row row-padding-md">
        <div class="col-3">Contactno:</div>
        <div class="col-9"><%= @post.contactno %></div>
      </div>
      <div class="row row-padding-md">
        <div class="col-3">Contact email:</div>
        <div class="col-9"><%= @post.contact_email %></div>
      </div>
      <div class="row row-padding-md">
        <div class="col-3">Credit Constraint:</div>
        <div class="col-9">
          <div class="star-rating" data-score= <%= @post.constraint %> ></div>
        </div>
      </div>
    </div>

  </div>
</section>

<br>
<section class="comments">
  <%# comments list %>
  <div class="container login form-body row-padding">
    <p class="comment-title login"><%= @post.comments.count %> Comments</p>
    <%= render @post.comments.order("created_at DESC") %>
  <div>
  <%# comment form %>
  <div class="login form-body">
    <p class="comment-title login">Leave My Comment</p>
    <%= render 'comments/form' %>
  </div>

  </div>
</section>

<script>
    $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
    }
    });
</script>