<br>

<p id="notice"><%= notice %></p>
  <% if flash[:alert] %>
    <div class="alert alert-info">
      <%= flash[:alert] %>
  </div>
  <% end %>
<section class="post">
  <div class="container">
    <div class="row">

      <div class="col-2", vertical-align='middle'><h2><strong>
        <%= @post.service_type.upcase %>| post_id <%= @post.id%></strong></h2>
      </div>

      <div class="col-2", vertical-align='middle'>
        <% if @post.is_collected %>
          DEALT
        <% else %>
          WAITING
        <% end %>
      </div>

      <div class="col-8", align="right"><p>
        <% if !@post.is_collected %> <%# condition: the post is waiting to be collected %>
          <%= link_to 'Collect', deals_create_path(:id => @post.id), method: :preview, class: "btn btn-outline-dark", data: { confirm: 'Are you sure?' } %> |
        <% else %> <%# condition: the post was collected / dealt %>
          <% deal = @post.deal %>
          <%# if current user hasn't reviewed this deal %>
          <% if !current_user %>
          <% elsif (deal.creator_id == current_user.id && deal.creator_rating == false) || (deal.collector_id == current_user.id && deal.collector_rating == false) %>
          <%= link_to 'Review', add_reviews_path(deal.id) , :class => 'btn btn-outline-dark' %>
          <% end %>
        <% end %>
        <%#= link_to 'Edit', edit_post_path(@post) %> 
        <%= link_to 'Back', posts_path, class: "btn btn-outline-dark" %>
      </p></div>

    </div>
    <hr>


    <div class="row">
      <div class="col-3"><p><strong>Spot Name:</strong></p></div>
      <div class="col-9"><p><%= @post.spot_name %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Spot Address:</strong></p></div>
      <div class="col-9"><p><%= @post.address %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Bonus:</strong></p></div>
      <div class="col-9"><p><%= @post.fee %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Start time:</strong></p></div>
      <div class="col-9"><p><%= @post.start_time.to_s(:db) %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>End time:</strong></p></div>
      <div class="col-9"><p><%= @post.end_time.to_s(:db) %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Description:</strong></p></div>
      <div class="col-9"><p><%= @post.description %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Contact name:</strong></p></div>
      <div class="col-9"><p><%= @post.contact_name.capitalize() %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Contactno:</strong></p></div>
      <div class="col-9"><p><%= @post.contactno %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Contact email:</strong></p></div>
      <div class="col-9"><p><%= @post.contact_email %></p></div>
    </div>
    <div class="row">
      <div class="col-3"><p><strong>Credit Constraint:</strong></p></div>
      <div class="col-9"><p><%= @post.constraint %></p></div>
    </div>

  </div>
</section>

<br>
<section class="comments">
  <div class="container">
    <p class="text-info"><%= @post.comments.count %> Comments</p>
    <hr>

    <%= render @post.comments %>
    
    <div>
      <hr>
      <p class="text-info">Leave My Comment</p>
      <br>
      <%= render 'comments/form' %>
    </div>

  </div>
</section>
