<section class="section">
<div class="container" >

<%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>
<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :reviewer_id %>
    <%#= form.text_field :reviewer_id %>
  </div>

  <div class="field">
    <%#= form.label :be_reviewed_id %>
    <%#= form.text_field :be_reviewed_id %>
  </div>

  <div class="field">
    <%#= form.label :deal_id %>
    <%#= form.text_field :deal_id %>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-2">
        <%= form.label :rating %>
      </div>
      <div class="field">
        <div id="star-rating"></div>
      </div>
      <%# <div class="col-8">
        <%= form.select(:rating, options_for_select([['★','1'],['★★','2'],['★★★','3'],['★★★★','4'],['★★★★★','5']]))%>
      <%# </div> %>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-2">
        <%= form.label :comment %>
      </div>
      <div class="col-8">
        <div class="form-group">
          <%= form.text_area :comment , class:'form-control', :rows => 5 %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>
</section>

<script>
  $('#star-rating').raty({
	    path: '/assets/',
	    scoreName: 'review[rating]'
	  });
</script>