<section class="section">
<div class="" >

<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation"  class="row">
    <div class="col-10 alert alert-danger">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <% end %>

  <div class="field">
    <div class="row">
      <div class="col-2">
        <%= form.label :rating %>
      </div>
      <div class="field">
        <div id="star-rating"></div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-2">
        <%= form.label :comment %>
      </div>
      <div class="col-8">
        <div class="form-group">
          <%= form.text_area :comment , class:'form-control', :rows => 5 %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-darkgreen-formal">Submit</button>
  </div>
<% end %>

</div>
</section>

<script>
  $('#star-rating').raty({
	    path: '/assets/',
	    scoreName: 'review[rating]'
	  });
</script>