<br>
<section class="section">
  <div class="login form-body">
    <%# title -- if current user's name display "my credit", else display "usernam credit" %>
    <div class="row">
      <div class="col-7 my-auto">
        <% if !current_user %>
          <h1 class='formal-head login'> <%= @user.name.capitalize() %> Credit </h1>
        <% elsif @user.id == current_user.id %>
          <h1 class='formal-head login'> My Credit </h1>
        <% else %>
          <h1 class='formal-head login'> <%= @user.name.capitalize() %> Credit </h1>
        <% end %>
      </div>

      <div class="col-5 my-auto", align="right">
        <%= link_to "Back", my_account_path , class: "btn btn-darkgreen-formal" %>
      </div>
    </div>
    <%# average rating star %>
    <div class="row">
      <div class="col-2", vertical-align='middle'>
        <div class="star-rating" data-score= <%= @user.rating %> ></div>
      </div>
      <div class="col-3", vertical-align='middle'>
        <p class="comment-title login"> based on <%= @reviews.length %></strong> Reviews </p>
      </div>
    </div>
  </div>
  <br>
    
  <%# reviews list %> 
  <% @reviews.each do |review| %>
    <div class="border">
      <article class="card-body">
        <div class="content">
          <div class="star-rating" data-score= <%= review.rating %> ></div><br>
          <strong><%= link_to review.reviewer.name.capitalize(), reviews_path(:id => review.reviewer.id), class: "link-darkgreen-formal" %></strong>
          on  <%= review.created_at.to_s(:db) %><br>
          <h6 class="row-padding-sm login line-h-sm"><%= review.comment %><h6>
        </div>
      </article>
    </div>
    <br>
  <% end %>
</section>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>