<%#= link_to 'New Review', new_review_path %>

<br><h1>MY CREDIT |
  <span class="account-user_name" data-cs-mask=""><%= current_user.rating %></span>
</h1><br>
<h5><strong><%= @reviews.length %></strong> reviews</h5><hr>

<% @reviews.each do |review| %>

<div class="card">
  <div class="card-header">
    <div class="row ">
      <div class="col-1">
        <p><strong><%= review.rating %></strong></p>
      </div>
      <div class="col-6">
        <% reviewer = User.find(review.reviewer_id) %>
        <p><strong><%= reviewer.name.capitalize() %> </strong>  reviewed: <%= review.created_at.to_s(:db) %> </p>
      </div>
    </div>
  </div>

  <article class="card-body">
    <div class="content">
      <p>
        <%= review.comment %><br>
      </p>
    </div>
  </article>

</div>
<br>

 <% end %>