<br>
<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-6", vertical-align='middle'>
        <h1>MY CREDIT <span class="account-user_name" data-cs-mask=""><div class="star-rating" data-score= <%= current_user.rating %> ></span></h1>
      </div>

      <div class="col-6", align="right", vertical-align='middle'>
        <%= link_to "Back", my_account_path , class: "btn btn-outline-dark" %>
      </div>
    </div>

    <div class="row">
      <div class="col-3", vertical-align='middle'>
        <h5><strong><%= @reviews.length %></strong> reviews </h5><br>
      </div>
    </div>
    <hr>


    <% @reviews.each do |review| %>

    <div class="card">
      <div class="card-header">
        <div class="row ">
          <div class="star-rating" data-score= <%= review.rating %> ></div>
          <div class="col-6">
            <% reviewer = User.find(review.reviewer_id) %>
            <p><strong><%= reviewer.name.capitalize() %> </strong>  reviewed: <%= review.created_at.to_s(:db) %> </p>
          </div>
        </div>
      </div>

      <article class="card-body">
        <div class="content">
          <p>
            <%= review.comment %><br>
          </p>
        </div>
      </article>

    </div>
    <br>

    <% end %>

   </div>
</section>

	<script>
	    $('.star-rating').raty({
	      path: '/assets/',
	      readOnly: true,
	      score: function() {
	            return $(this).attr('data-score');
	    }
	  });
	</script>