<p id="notice"><%= notice %></p>

<div class='block-padding-lg green-border'>
  <div class="row row-padding-md">
    <div class="col-3">Review:</div>
    <div class="col-9"><%= @review.be_reviewed.name.capitalize() %></div>
  </div>
  <div class="row row-padding-md">
    <div class="col-3">By:</div>
    <div class="col-9"><%= @review.reviewer.name.capitalize() %></div>
  </div>
  <div class="row row-padding-md">
    <div class="col-3">Rating:</div>
    <div class="col-9"><div class="star-rating" data-score= <%= @review.rating %> ></div> </div>
  </div>
  <div class="row row-padding-md">
    <div class="col-3">Comment:</div>
    <div class="col-9"><%= @review.comment %></div>
  </div>
  <br><br>
  <div class="row row-padding-md">
    <div class="col-3"><%= link_to 'Back', :back %></div>
    <%#= link_to 'Edit', edit_review_path(@review) %> 
  </div>

</div>


<script>
    $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
    }
    });
</script>