<!DOCTYPE html>
<html>
  <head>
    <title>Q4U</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  


<nav class="navbar navbar-expand-lg  ">
  <h1 class="navbar-brand">Q 4 U</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto"></ul>

<% if user_signed_in? %>
      
      <% if current_user.superadmin_role? %>
        
        <li><a href="#">Hi admin</a></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete , class: 'btn btn-secondary my-2 my-sm-0 m-2'%></li>
        <li><%= link_to 'dashboard', rails_admin_path, class: 'btn btn-secondary my-2 my-sm-0'%></li>
      
      <% else %>
        
        <li><a href="#">Hi <%= current_user.email %></a></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete , class: 'btn btn-secondary my-2 my-sm-0'%></li>
      
      <% end %>

    <% else %>

      <%= link_to new_user_registration_path, class: 'btn btn-secondary my-2 my-sm-0' do %>Sign up<% end %>
      <%= link_to new_user_session_path, class: 'btn btn-secondary my-2 my-sm-0' do  %>Login<% end %>

    <% end %>

  </div>
</nav>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Posts</a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
        <a class="nav-link" href="/posts/new">Create My Posts</a>
        <% else %>
        <a class="nav-link" href="/users/sign_in">Create My Posts</a>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <div class ="container">
    <div  class="danger"> 
  <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
      </script>
    <% end %>
  
  </div>
      <%= yield %>
      
  </div>


  </body>
</html>






