
<div class="form-signin">

  <div class="field"><h1 align="center" style="color: rgb(73, 72, 72);">EDIT MY PROFILE</h1></div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "profile" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" , class:'form-control'%>
    </div>

    <div class="field row-padding">
      <%= f.label :contact_No %><br />
      <%= f.telephone_field :contact_no, autofocus: true, autocomplete: "contact_no" , class:'form-control'%>
    </div> 

    <div class="field row-padding">
      <%= f.label :email %><i>(Can not be changed)</i><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :readonly => true, class:'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field row-padding">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" , class:'form-control'%>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field row-padding">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
    </div>

    <div class="field row-padding">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" , class:'form-control'%>
    </div>

    <div class="actions row-padding">
      <%= f.submit "Update", class: "btn btn-darkgreen"%>
    </div>

  <% end %>
  
  <br>
  <div class="row-padding">
    <%= link_to "Back", :back %>
  </div>

</div>
<br>
<br>
<br>
<br>

